.App {
  font-family: sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 16px 32px;
}
.app {
  margin: 0 auto;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  right: 35%;
  top: 10%;
  padding: 16px 32px;
  margin: auto;
  border-radius: 4px;
  background: #f3f3f3;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex span {
  margin-left: 8px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.btn {
  line-height: normal;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-transform: none;
  letter-spacing: normal;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.btn-cancle {
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.text-end {
  text-align: end;
}
.error {
  color: red;
}
